<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim's Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>
    <div class="container mt-5 h-100">
        <div class="mx-auto row calc-box">
            <input id="calc-display" class="text-right col-12" type="text" disabled value="0">
            <div class="col-3 p-0">
                <button class="col operator">+</button>
                <button class="col number-button">7</button>
                <button class="col number-button">4</button>
                <button class="col number-button">1</button>
                <button class="col number-button">0</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">-</button>
                <button class="col number-button">8</button>
                <button class="col number-button">5</button>
                <button class="col number-button">2</button>
                <button class="col number-button">.</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">×</button>
                <button class="col number-button">9</button>
                <button class="col number-button">6</button>
                <button class="col number-button">3</button>
                <button class="col" id="clearAll">AC</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">÷</button>
                <button id="enter" class="col large-button">=</button>
                <button class="col large-button" id="clear">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-backspace" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M6.603 2h7.08a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1h-7.08a1 1 0 0 1-.76-.35L1 8l4.844-5.65A1 1 0 0 1 6.603 2zm7.08-1a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-7.08a2 2 0 0 1-1.519-.698L.241 8.65a1 1 0 0 1 0-1.302L5.084 1.7A2 2 0 0 1 6.603 1h7.08zM5.829 5.146a.5.5 0 0 0 0 .708L7.976 8l-2.147 2.146a.5.5 0 0 0 .707.708l2.147-2.147 2.146 2.147a.5.5 0 0 0 .707-.708L9.39 8l2.146-2.146a.5.5 0 0 0-.707-.708L8.683 7.293 6.536 5.146a.5.5 0 0 0-.707 0z"/>
                      </svg>
                </button>
            </div>
        </div>
        <div class="row mx-auto">
            <div id="log" class="mx-auto mt-3">
            </div>
        </div>
    </div>
    <script src="{% static 'js/calculator.js'%}"></script>
</body>
</html>