<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tim's Calculator</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
</head>
<body>
    <div class="container mt-5 h-100">
        <div class="mx-auto row calc-box ">
            <input id="calc-display" class="text-right col-12" type="text" disabled value="0">
            <div class="col-3 p-0">
                <button class="col operator">+</button>
                <button class="col number-button">7</button>
                <button class="col number-button">4</button>
                <button class="col number-button">1</button>
                <button class="col number-button">0</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">-</button>
                <button class="col number-button">8</button>
                <button class="col number-button">5</button>
                <button class="col number-button">2</button>
                <button class="col number-button">.</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">×</button>
                <button class="col number-button">9</button>
                <button class="col number-button">6</button>
                <button class="col number-button">3</button>
                <button class="col" id="clear">AC</button>
            </div>
            <div class="col-3 p-0">
                <button class="col operator">÷</button>
                <button id="enter" class="col">=</button>
            </div>
        </div>
        <div class="row mx-auto">
            <div id="log" class="mx-auto mt-3">
            </div>
        </div>
    </div>
    <script src="{% static 'js/calculator.js'%}"></script>
</body>
</html>