#log{
    background-color: lightgray;
    text-align: center;
}

.operators, .number-button{
    background-color: lightgreen;
    text-align: center;
    margin: 1px;
}

#enter{
    background-color: red;
    width: 30%;
    padding-left: 30px;
    font-size: 1.5em;
}