html, body{
    background-color: #f2f2f2;
    height: 100vh;
}

#log{
    background-color: white;
    text-align: center;
}

.number-button{
    background-color: white;
    border: 2px solid #f2f2f2;
    width: 100%;
    font-size: 1.5em;
}

#clear, .operator{
    background-color: #d9d9d9;
    border: 2px solid #f2f2f2;
    width: 100%;
    font-size: 1.5em;
}


#enter{
    background-color: red;
    border: 2px solid #f2f2f2;
    height: 80%;
    font-size: 1.5em;
}